server:
  port: 9000

logging:
#  file: /Users/apple/Desktop/LogFile/logs.log
  level:
    com:
      technogise:
        interns:
          shoppingcart: info

spring:
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/test
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: update # When you launch the application for the first time - switch "none" at "create"
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  hateoas:
    use-hal-as-default-json-media-type: false
